* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* background-image: url(); */
  background-color: #2c514c;
  background-size: 200vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fundo {
  background-color: #89937c;
  width: 85%;
  height: 220vh;
  margin-left: 8%;
  border-radius: 10px;
}

.info {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.info > .nome {
  font-size: 1.3rem;
  margin-bottom: 1.5%;
  padding-top: 3%;
}

.info > .funcao {
  font-size: 1.1rem;
}

.borda {
  border: 4px solid #8e443d;
  width: 50%;
  margin-left: 25%;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 3%;
}

nav > a > button {
  font-size: 1rem;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #89937c;
}

button:hover {
  border-bottom: 3px solid #5d2e46;
  color: #ad6a6c;
}

.bio-foto > img {
  width: 51%;
  height: 51%;
  border-radius: 10%;
  float: left;
  margin: 3% 3% 0.5% 3%;
}

.bio-foto > h3 {
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: bisque;
}

.bio-foto > p {
  text-align: justify;
  margin-right: 3%;
  margin-left: 3%;
  line-height: 1.5rem;
}

#projetos > h3 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  border-top: 3px solid #8e443d;
  border-bottom: 3px solid #8e443d;
  width: 30%;
  margin-left: 35%;
}
.bloco_um,
.bloco_dois {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 3%;
  margin-right: 3%;
}

li {
  list-style: none;
}

.bloco_dois > p {
  font-size: 0.8rem;
  text-align: justify;
  margin-right: 3%;
  color: #89937c;
}

li > a > img {
  border: 3px solid transparent;
  margin-bottom: 8%;
  width: 80%;
  filter: none;
}

li > a > img:hover {
  border: 3px solid #8e443d;
  filter: grayscale(1);
}

.bloco_dois > li > a > img {
  margin-left: 10%;
}

#hobbies {
  text-align: center;
  margin-bottom: 3%;
}

.linha-tempo {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.linha > h4 {
  text-align: right;
  margin-bottom: 3%;
  margin-left: 45%;
  margin-right: 3%;
  border-bottom: 3px solid #8e443d;
  width: 50%;
  font-weight: 600;
}

.linha > .coluna {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  text-align: justify;
}

.linha > .coluna:hover {
  background-color: #acc3a6;
  border-radius: 2px;
}

#cont {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  border-bottom: 3px solid #8e443d;
}

.contato {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.contato > a > img {
  width: 30%;
  height: 80%;
  margin-top: 2%;
  margin-left: 32%;
}

.contato > a > img:hover {
  animation: slide-top 0.1s linear both;
  transform: translateY(0);
  transform: translateY(-30px);
}
